<!doctype html>
<!--
Author : Alexander Perlock
MACID : perlocka

Date Created     : 31 01 '26
Date Modified    : 31 01 '26

Main page
-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily News</title>

    <link rel="stylesheet" href="./assets/css/global.css">
    <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body>
    <header>
        <nav>
            <ul class="flex">
                <li><img src="./assets/images/hamburger.png" width="32px"></li>
                <li id="headlines"><a href="https://example.com">Headlines</a></li>
                <li id="politics"><a href="https://example.com">Politics</a></li>
                <li id="sports"><a href="https://example.com">Sports</a></li>
                <li id="business"><a href="https://example.com">Business</a></li>
                <li id="local"><a href="https://example.com">Local</a></li>
                <li id="arts"><a href="https://example.com">Arts</a></li>
                <li id="weather"><a href="https://example.com">Weather</a></li>
            </ul>
        </nav>
        <p>The Daily News</p>
    </header>


    <div id="content">
        <div id="first">
            <div>
                <a target="_blank" href="https://scitechdaily.com/laser-light-rewrites-magnetism-in-breakthrough-quantum-material/">
                     <img src="./assets/images/laser.png">
                    <h1>Laser Light Rewrites Magnetism in Breakthrough Quantum Material</h1>
                </a>
                <p>Scientists have demonstrated that light alone can reversibly control magnetism in a topological material. Researchers…</p>
            </div>
            <div>
                <a target="_blank" href="https://scitechdaily.com/landmark-study-begins-on-a-mysterious-roman-sanctuary-in-frankfurt/">
                    <img src="./assets/images/roman.png">
                    <h1>Landmark Study Begins on a Mysterious Roman Sanctuary in Frankfurt</h1>
                </a>
                <p>An international research team has secured more than €1 million to investigate a recently uncovered…</p>
            </div>
        </div>
        <div id="second">
            <div>
                <a target="_blank" href="https://scitechdaily.com/physicists-watch-a-superfluid-freeze-revealing-a-strange-new-quantum-state-of-matter/">
                <img src="./assets/images/graphene.png">
                <h1>Physicists Watch a Superfluid Freeze, Revealing a Strange New Quantum State of Matter</h1>
                </a>
                <p>Physicists have observed a strange new quantum phase in a graphene-based system, where a superfluid…</p>
            </div>
            <div>
                <a target="_blank" href="https://scitechdaily.com/a-breakthrough-that-cuts-blockchain-delays-nearly-in-half/">
                    <img src="./assets/images/network.png">
                    <h1>A Breakthrough That Cuts Blockchain Delays Nearly in Half</h1>
                </a>
                <p>By fixing how devices connect, researchers may have finally made blockchain fast enough for the…</p>
            </div>
            <div>
                <a target="_blank" href="https://scitechdaily.com/physicists-discover-a-new-way-to-connect-qubits-using-crystal-imperfections/">
                    <img src="./assets/images/qubit.png">
                    <h1>Physicists Discover a New Way To Connect Qubits Using Crystal Imperfections</h1>
                </a>
                <p>A new study suggests that crystal defects in diamond may hold the key to scalable…</p>
            </div>
        </div>
        <div id="third">
            <div>
                <a target="_blank" href="https://scitechdaily.com/toxin-stops-colon-cancer-growth-without-harming-healthy-tissue/">
                     <img src="./assets/images/toxins.png">
                    <h1>Toxin Stops Colon Cancer Growth, Without Harming Healthy Tissue</h1>
                </a>
                <p>Researchers in Sweden have identified an unexpected biological mechanism that could influence future cancer treatments.…</p>
            </div>
            <div>
                <a target="_blank" href="https://scitechdaily.com/a-hidden-climate-crisis-is-unfolding-in-the-worlds-mountains/">
                    <img src="./assets/images/mountains.png">
                    <h1>A Hidden Climate Crisis Is Unfolding in the World's Mountains</h1>
                </a>
                <p>High above the world, a rapid climate shift is unfolding with global consequences. A major…</p>
            </div>
            <div>
                <a target="_blank" href="https://scitechdaily.com/ai-slashes-defect-simulations-from-hours-to-milliseconds/">
                    <img src="./assets/images/neural.png">
                    <h1>AI Slashes Defect Simulations From Hours to Milliseconds</h1>
                </a>
                <p>Scientists have developed an AI system that can rapidly predict complex defect patterns in liquid…</p>
            </div>
        </div>


    </div>


    <footer>
        <div id="subscribe">
            <p>Subscribe</p>
            <ul class="flex foot">
                <li><a href="https://example.com">Digital Access</a></li>
                <li><a href="https://example.com">Home Delivery</a></li>
                <li><a href="https://example.com">Gift Subscription</a></li>
            </ul>
        </div>

        <div id="account">
            <p>Account</p>
            <ul class="flex" class="foot">
                <li><a href="https://example.com">Log in</a></li>
                <li><a href="https://example.com">Manage</a></li>
                <li><a href="https://example.com">Delivery</a></li>
            </ul>
        </div>

        <div id="contact">
            <p>Contact</p>
            <ul class="flex" class="foot">
                <li><a href="https://example.com">Tip Hotline</a></li>
                <li><a href="https://example.com">Help & FAQs</a></li>
                <li><a href="https://example.com">Advertising</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>