/* 
Alexander Perlock

Global Style Sheet
*/

/* Light v. Dark mode colouring */
:root {
    --bg-colour: #f0f0f0;
    --fg-colour: #191919;

    --h-colour: #3B3B3B;
    --f-colour: #2A2A2A;

    --href-colour: blue;
    --nav-colour: cadetblue;
}
[data-theme="dark"] {
    --bg-colour: #3B3B3B;
    --fg-colour: #f0f0f0;

    --h-colour: #2A2A2A;
    --f-colour: #191919;

    --href-colour: cornflowerblue;
    --nav-colour: darkcyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Colors */
body {
    background-color: var(--bg-colour);
    color: var(--fg-colour)
}

a {
    color: var(--href-colour);
}

footer {
    background-color: var(--f-colour);
}
#contact,
header, header p,
nav {
    background-color: var(--h-colour);
}
/*  */

header {
    align-items: center;
}

#content {
    max-width: auto;
    margin: 1%;
    padding: 1%;
}

#content div {
    margin-left: 1%;
    margin-right: 1%;
    /* border: 1px, solid, black; */
}

#contact,
header, 
nav,
footer {
    padding: 2%;
    color: white;
    text-align: center;
}

/* Font size */
header {
    font-size: 125%;
}
nav {
    font-size: 100%;
}
#contact {
    font-size: 80%;
}
footer {
    font-size: 55%;
}
/*  */

#contact a,
nav a {
    color: var(--nav-colour);
    width: 30%;
}

#social img {
    width: 100%;
}

nav {
    position: sticky;
    top: 0%;
}

#contact,
nav,
#social {
    display: flex;
    justify-content: space-around;
    overflow-wrap: break-word;
    text-align: center;
    align-items: center;
}

#contact div {
    width: 20%;
}

#social a {
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 2.5%;
}
#content p {
    /* padding-top: 1%; */
    padding-bottom: 1%;
}

#content ul, #content ol {
    padding-left: 3%
}

#content li {
    /* margin-left: 3%; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.grid {
    border: 1px, solid, var(--fg-colour);
    border-radius: 5%;
    padding: 1%;
}

.grid ol, .grid ul {
    /* margin-left: 5%; */
    padding: 0;
}

/* Phone*/
@media (max-width:480px) {
    /* Test boundries */
    /* * {
        color: red;
        background-color: maroon;
    } */
    header {
        display: grid;
        grid-template-columns: 1fr auto; 
    }
    /* #theme {
    position: fixed;
    top:0.8%;
    right:1.6%;
    } */
    #theme img {
    width: clamp(16px, 2vw, 24px);
}


}

/* Tablet */
@media (min-width:480px) and (max-width:768px) {
    /* Test boundries */
    /* * {
        color: cyan;
        background-color: darkgreen;
    } */
    header {
        display: grid;
        grid-template-columns: 1fr auto; 
    }
    /* #theme {
    position: fixed;
    top:0.8%;
    right:1.6%;
    } */
    #theme img {
    width: clamp(16px, 2vw, 24px)
}
}

/* PC */
@media (min-width:768px) {
    /* Test boundries */
    /* * {
        color: blue;
        background-color: aqua;
    } */
    #content {
        display: flex;
        flex-wrap: wrap;
        /* grid-template-columns: 2; */
        /* gap: 2%; */
        /* padding: 0%; */
    }
    #content div {
        /* border: 1px, solid, black; */
        margin-left: 1%;
        margin-right: 1%;
        align-items: center;
        justify-content: right;
        width: 48%;
    }

    #theme {
        position: fixed;
        top: 0.8%;
        right: 1.6%;
        /* z-index: 1; */
    }
    #theme img {
        width: clamp(16px, 2.5vw, 32px)
    }
}
